output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
*/work-items-out/*
testrun/*
.~lock*
*.pkl
zipped_receipts/1
zipped_receipts/1.pdf
zipped_receipts/2
zipped_receipts/2.pdf
zipped_receipts/3
zipped_receipts/3.pdf
zipped_receipts/4
zipped_receipts/4.pdf
zipped_receipts/5
zipped_receipts/5.pdf
zipped_receipts/6
zipped_receipts/6.pdf
zipped_receipts/7
zipped_receipts/7.pdf
zipped_receipts/8
zipped_receipts/8.pdf
zipped_receipts/9
zipped_receipts/9.pdf
zipped_receipts/10
zipped_receipts/10.pdf
zipped_receipts/11
zipped_receipts/11.pdf
zipped_receipts/12
zipped_receipts/12.pdf
zipped_receipts/13
zipped_receipts/13.pdf
zipped_receipts/14
zipped_receipts/14.pdf
zipped_receipts/15
zipped_receipts/15.pdf
zipped_receipts/16
zipped_receipts/16.pdf
zipped_receipts/17
zipped_receipts/17.pdf
zipped_receipts/18
zipped_receipts/18.pdf
zipped_receipts/19
zipped_receipts/19.pdf
zipped_receipts/20
zipped_receipts/20.pdf
